h1{

    text-align: center;
    color: rgb(149, 132, 152);
    font-size: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Brush Script MT', 'Lucida Handwriting', "Times New Roman";
}
h2{
    text-align: center;
    color: rgb(15, 15, 15);
    font-size: 40px;
    font-weight: 500;
    font-family:'Copperplate Gothic Light', 'Times New Roman', Times, serif;
}
h3{
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 10px;
    font-family:'Copperplate Gothic Light', 'Times New Roman', Times, serif;
}

h5{
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 150px;
}
.container > .row > .col-md-8{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(223, 237, 247);
}
.col-md-10{
    background-color: blanchedalmond;

}
body{
    background-image: url(/fondo.jpg);
}