<!DOCTYPE html>
<html>

<head>
    <title>Cocina con la abuela/formEditar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link type="text/css" rel="stylesheet" href="..\CSS\style.css">
    <script src="\app.js" ></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1>Cocina con la abuela</h1>
                <h4>Rellene los siguientes campos:</h4>
                <div class="container">
                    <div class="row">
                        <form role="form" action="/updated/{{plato.id}}" method="post" id="formulario">
                            <div class="formulario__grupo" id="grupo__nombre">
                                <label for="nombre" class="formulario__label">Nombre del plato:</label>
                                <div class="formulario__grupo-input">
                                    <input oninput='checkNameAvailability()' type="text" value="{{plato.nombre}}" class="formulario__input" name="nombre" id="nombre" placeholder="Introduce el nombre de tu plato">
                                </div>
                                <p class="formulario__input-error">El nombre debe empezar por mayúscula.</p>
                                <div id="message"></div>
                            </div>
                            <div class="formulario__grupo" id="grupo__descripcion">
                                <label for="descripcion" class="formulario__label">Descripción del plato:</label>
                                <div class="formulario__grupo-input">
                                    <input type="text" value="{{plato.descripcion}}" class="formulario__input" name="descripcion" id="descripcion" placeholder="Introduce una breve descripción">
                                </div>
                                <p class="formulario__input-error">La descripción debe estar comprendida entre 50 y 500 caracteres.</p>
                            </div>
                            <div class="formulario__grupo" id="grupo__imagen">
                                <label for="imagen" class="formulario__label">Foto del plato:</label>
                                <div class="formulario__grupo-input">
                                    <input type="text" value="{{plato.imagen}}" class="formulario__input" name="imagen" id="imagen" placeholder="Introduce el link a la foto de tu plato">
                                </div>
                                <p class="formulario__input-error">La URL debe tener el formato adecuado.</p>
                            </div>
                            <div class="formulario__grupo" id="grupo__origen">
                                <label for="origen" class="formulario__label">Origen del plato: </label>
                                <div class="formulario__grupo-input">
                                    <input type="text" value="{{plato.origen}}" class="formulario__input" name="origen" id="origen" placeholder="Introduce la nacionalidad de origen">
                                </div>
                                <p class="formulario__input-error">El origen solo puede contener caracteres.</p>
                            </div>
                            <div class="form-group">
                                <label for="tipo">Tipo de plato: </label>
                                <select class="form-select" id="tipo" name="tipo">
                                    <option selected>{{plato.tipo}}</option>
                                    <option>Postre</option>
                                    <option>Bebida</option>
                                    <option>Plato principal</option>
                                    <option>Aperitivo</option>
                                </select>
                            </div>
                            <div class="formulario__grupo" id="grupo__precio">
                                <label for="precio" class="formulario__label">Coste del plato: </label>
                                <div class="formulario__grupo-input">
                                    <input onKeyPress="return soloNumeros(event)" type="text" value="{{plato.precio}}" class="formulario__input" name="precio" id="precio" placeholder="Introduce un precio aproximado del plato">
                                </div>
                                <p class="formulario__input-error">El coste debe ser numérico.</p>
                            </div>
                            <div class="row">
                                <h1></h1>
                            </div>
                            <div class="row">
                                <div class="formulario__mensaje" id="formulario__mensaje">
                                    <p><b>Error:</b> Por favor rellena el formulario correctamente.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8"></div>
                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-default btn-sm" id="BotonPagG">Guardar</button>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-1">
                                    <a href="/" class="btn btn-default btn-sm" id="BotonPagN_C">Cancelar</a>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        const formulario = document.getElementById('formulario');
        const inputs = document.querySelectorAll('#formulario input');
        formulario.setAttribute('data-valid', 'si');
        const expresiones = {
            nombre: /^[A-Z].*$/, 
            origen:/^[a-zA-ZÀ-ÿ\s]{1,40}$/, // Letras y espacios, pueden llevar acentos.
            descripcion: /^.{50,500}$/,
            precio: /^\d+$/,
            imagen: /^(http:\/\/|https:\/\/).*\.(jpg|jpeg)$/i,
        }

        const campos = {
            nombre: true,
            descripcion: true,
            imagen: true,
            origen: true,
            precio: true
        }

        const validarFormulario = (e) => {
            switch (e.target.name) {
                case "nombre":
                    validarCampo(expresiones.nombre, e.target, 'nombre');
                break;
                case "descripcion":
                    validarCampo(expresiones.descripcion, e.target, 'descripcion');
                break;
                case "origen":
                    validarCampo(expresiones.origen, e.target, 'origen');
                break;
                case "precio":
                    validarCampo(expresiones.precio, e.target, 'precio');
                break;
                case "imagen":
                    validarCampo(expresiones.imagen, e.target, 'imagen');
                break;
            }
        }

        const validarCampo = (expresion, input, campo) => {
            if (expresion.test(input.value)) {
                document.getElementById(`grupo__${campo}`).classList.remove('formulario__grupo-incorrecto');
                document.getElementById(`grupo__${campo}`).classList.add('formulario__grupo-correcto');
                document.querySelector(`#grupo__${campo} .formulario__input-error`).classList.remove('formulario__input-error-activo')
                campos[campo] = true;
            } else {
                document.getElementById(`grupo__${campo}`).classList.add('formulario__grupo-incorrecto');
                document.getElementById(`grupo__${campo}`).classList.remove('formulario__grupo-correcto');
                document.querySelector(`#grupo__${campo} .formulario__input-error`).classList.add('formulario__input-error-activo');
                campos[campo] = false;
            }
            document.getElementById('nombre').oninput
        }

        inputs.forEach((input) => {
            input.addEventListener('keyup', validarFormulario);
            input.addEventListener('blur', validarFormulario);
        });

        formulario.addEventListener('submit', (e) => {
            e.preventDefault();
            if(campos.nombre && campos.descripcion && campos.imagen && campos.origen && campos.precio && (formulario.getAttribute('data-valid') === 'si') ){
                formulario.submit();
            } else {
                document.getElementById('formulario__mensaje').classList.add('formulario__mensaje-activo')
            }
        });
        function soloNumeros(e){
            var key = window.Event ? e.which : e.keyCode
            return (key >= 48 && key <= 57)
        }
    </script>
</body>
</html>
